<div class="container">
  <input [(ngModel)]="queryString" placeholder="Enter your query" />
  <button (click)="getIndustries()">Search industries</button>
  <div class="spinner" *ngIf="isLoading"></div>
  <!-- Add this line to show the spinner -->
</div>
<div *ngFor="let industry of industries">
  <input
    type="checkbox"
    [(ngModel)]="industry.checked"
    (change)="industryActivitySubject.next(industry)"
    [attr.title]="industry.description"
  />{{ industry.name }}
  <div *ngFor="let activity of industry.activities" class="child-checkbox">
    <input type="checkbox" [attr.title]="activity.description" /><label>{{
      activity.name
    }}</label>
  </div>
</div>
